{%load static%}
<html lang="en">
<head>
    <meta name="google-site-verification" content="LY4LQjeZ8y92kB0GF2PvaK7_3xqTGkutNtBL8CvynzA" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Elodream">
    
    <meta name="description" content="live your dream !">
    <meta name="keyword" content="artfana elodream dream help website wordpress">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'elodream.css' %}">
    
    
    <link rel="icon" href="{%static 'ico.png'%}" type="image/x-icon">
    <title>{%block title%}home | elodream{%endblock%}</title>

    

</head>

<body class="" style="background-color:#fBfBfB ;">

<style>
 ::selection {
        color: #ffffff;
        background: #f4368e;
      }

    ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:#f4368e
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
</style>
   
    
    {%block content%}

    {%endblock%}



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</script>
 


</body>
</html>